/* Languages descriptions */
.language-hover-description p {
  position: absolute;
  top: 8ch;
  z-index: 2;
  border-radius: 10px;
  display: none;
  padding: 2px 4px;
  font-size: 0.8ch;
  font-weight: 400;
  color: #4f4f4f;
  background-color: #dfdfdf;
}

.language-hover-description:hover p {
  animation: FadeIn 1s;
  display: flex;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#skill-features {
  display: flex;
  gap: 15px;
  font-weight: 400;
}
#skill-features span {
  font-size: 10px;
  padding: 2px 6px;
  background: #e0e0e0;
  border-radius: 12px;
}

/* Experience */
#experience-section-title {
  text-transform: capitalize;
  text-align: start;
  font-weight: 900;
  font-size: 1.8ch;
  margin: 5ch;
}

.Project {
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: 50ch;
  margin: 3ch;
  border-radius: 5px;
  border: 1px solid rgb(208, 208, 208);
}

.Project img {
  border-radius: 5px 5px 0 0;
}

.Project:hover img {
  filter: brightness(50%);
  transition: transform 0.5s ease, filter 0.5s ease;
}

.Project:hover span {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Services */
.box {
  padding: 3ch;
  border: 1px solid white;
}

.box:hover {
  box-shadow: 6px 6px 6px rgba(255, 255, 255, 0.2);
}

.services-text {
  position: absolute;
  top: 0;
  font-size: 2ch;
  background: linear-gradient(90deg, rgb(31 41 55) 50%, white 50%);
  background-clip: text;
  color: transparent;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .services-text {
    position: absolute;
    background: linear-gradient(90deg, white 50%, white 50%);
    background-clip: text;
    color: transparent;
  }
}

@media screen and (min-width: 1024px) {
  .services-text {
    font-size: 4ch;
  }
}

@media screen and (max-width: 400px) {
  #skill-features span {
    font-size: 8px;
  }
}

@media screen and (min-width: 540px) {
  #experience-section-title {
    font-size: 2ch;
  }
}

@media screen and (min-width: 768px) {
  #experience-section-title {
    font-size: 2.5ch;
  }
}

@media screen and (min-width: 1100px) {
  #experience-section-title {
    font-size: 3ch;
    padding: 40px 0;
  }
}
