@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  scroll-behavior: smooth;
  position: relative;
  /* overflow: hidden; */
}
html::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

footer a {
  font-size: 1ch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Navbar {
  font-size: 1ch;
}

.header {
  display: flex;
  padding: 2ch 1ch;
  justify-content: space-between;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(224, 224, 224);
}

/* Dashboard */
.homeBackground {
  background: linear-gradient(to bottom, rgb(59 130 246), white);
}

/* Languages descriptions */
.language-hover-description p {
  position: absolute;
  top: 3.5ch;
  z-index: 2;
  border-radius: 10px;
  display: none;
  padding: 2px 4px;
  font-size: 0.8ch;
  font-weight: 400;
  color: #4f4f4f;
  background-color: #dfdfdf;
}

.language-hover-description:hover p {
  animation: FadeIn 1s;
  display: flex;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#skill-features {
  display: flex;
  gap: 15px;
  font-weight: 400;
}
#skill-features span {
  text-transform: lowercase;
  font-size: 10px;
  padding: 2px 6px;
  background: #e0e0e0;
  border-radius: 12px;
}

.bounce-up-on-hover:hover {
  animation: bounceUp 0.5s infinite;
}

.animated-bouncing-delayed {
  animation: bounce 4s infinite;
  animation-delay: 1s;
}

.animated-bouncing-delayed-2 {
  animation: bounce 4s infinite;
  animation-delay: 2s;
}

.animated-bouncing {
  animation: bounce 4s infinite;
}

@keyframes bounceUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}


@media screen and (max-width: 400px) {
  #skill-features span {
    font-size: 8px;
  }
}
