@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap");

html,
body {
  scroll-behavior: smooth;
  position: relative;
  /* overflow: hidden; */
}
html::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  /* font-family: "Rubik", sans-serif; */
  font-family: "Roboto Serif", serif;
  overflow-x: hidden;
}

footer a {
  font-size: 1ch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Navbar {
  font-size: 1ch;
}

.header {
  display: flex;
  padding: 2ch 1ch;
  justify-content: space-between;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(224, 224, 224);
}

/* Elements */
.button {
  background: rgb(66, 133, 244);
  color: white;
  border: 1px solid rgb(66, 133, 244);
  border-radius: 5px;
  padding: 1ch 2ch;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Containers */
.homeBackground {
  background: linear-gradient(to bottom, rgb(59 130 246), white);
}

/* Animations */

.bounce-up-on-hover:hover {
  animation: bounceUp 1s infinite;
}

.animated-bouncing-delayed {
  animation: bounce 3s infinite;
  animation-delay: 1s;
}

.animated-bouncing-delayed-2 {
  animation: bounce 3s infinite;
  animation-delay: 2s;
}

.animated-bouncing {
  animation: bounce 3s infinite;
}

.animated-scaling {
  animation: scale 2s infinite;
}

@keyframes bounceUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes scale {
  0%,
  100% {
    scale: 105%;
  }
  50% {
    scale: 100%;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
