@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  padding: 2ch 1ch;
  justify-content: space-between;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(224, 224, 224);
}

/* Dashboard */
.homeBackground {
  background: linear-gradient(to bottom, rgb(59 130 246), white);
}

.vertical-line {
  position: absolute;
  content: "";
  width: 2px; /* Width of the line */
  background-color: #ff0000; /* Color of the line */
  height: 100%; /* Make it cover the full height of the page */
  top: 0;
  left: 20px; /* Adjust this value to position the line where you want it initially */
  transition: left 0.3s ease; /* Add a smooth transition effect */
}

.Project:hover img {
  filter: brightness(50%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.Project:hover span {
  opacity: 1;
  transition: opacity 0.3s ease;
}
